input:invalid{
    border: 1px solid red;
    border-radius: 5px;

}
input:valid{
    border: 1.5px solid #57b846;
    border-radius: 5px;

}

select:invalid{
    border: 1px solid red;
    border-radius: 5px;

}
select:valid{
    border: 1.5px solid #57b846;
    border-radius: 5px;
}
