<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPROMISO</title>
    
</head>
<body>
    <img center width="100" height="100"  src="https://thumbs.dreamstime.com/b/icono-del-micr%C3%B3fono-47049340.jpg">
    <header>
        <nav>
            <ul>
                <li class="nav-item"><a  th:href="@{/compromiso/registrar}"><B>REGISTRAR</B></a></li>
                <li class="nav-item"><a  th:href="@{/compromiso/listar}"><B>LISTADO</B></a></li>
            </ul>
        </nav>
        
    </header>
    
    
</body>
</html>