<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav th:fragment="nav" class="bg-light">
        <div class="logo">
            <img src="../assets/img/Logo-cuentascasa.png" alt="">
        </div>
        <div class="menu-nav">
            <a href="../inicio" id="Home">Inicio</a>
            <a href="../compromiso">Compromisos</a>
            <a href="../prestamo">Préstamos</a>
            <a href="../usuario">Usuario</a>
        </div>
    </nav>
</body>
</html>