<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Abono</title>
</head>
<body>

    <h1>Registrar Abono</h1>

    <section>
        <form th:action="@{/prestamoabono/add}" th:object="${prestamoabono}" method="post">

            <input type="hidden" name="idPrestamoAbono" id="idPrestamoAbono" th:value="${prestamoabono.idPrestamoAbono}"><br><br>

            <label for="idPrestamo"><strong>Nombre Prestamista</strong></label>
            <select th:field="*{prestamo}" id="prestamo">
                <option value="">Seleccionar</option>
                <option th:each="Pr:${prestamo}" th:text="${Pr.nombrePrestamista}" th:value="${Pr.idPrestamo}"></option>
            </select><br><br>

            <label for="fechaAbono"><strong>Fecha Abono</strong></label><br>
            <input  type="date" name="fechaAbono" id="fechaAbono" th:field="*{fechaAbono}"><br><br>
            <div th:if="${#fields.hasErrors('fechaAbono')}" th:errors="*{fechaAbono}"></div>

            <label for="totalAbono"><strong>Total Abono</strong></label><br>
            <input  type="number" name="totalAbono" id="totalAbono" th:field="*{totalAbono}" placeholder="Ejemplo: 250.000"><br><br>
            <div th:if="${#fields.hasErrors('totalAbono')}" th:errors="*{totalAbono}"></div>


            <button type="submit">Registrar Abono</button>

        </form>
    </section>
    
</body>
</html>