<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Abono</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/estiloC.css}">
</head>
<body>

    <h1>Registrar Abono</h1>

    <section> 
        <form th:action="@{/prestamoabono/add}" th:object="${prestamoabono}" method="post">

            <input type="hidden" name="idPrestamoAbono" id="idPrestamoAbono" th:value="${prestamoabono.idPrestamoAbono}"><br><br>

            <div>
            <label for="idPrestamo"><strong>Valor del prestamo</strong></label>
            <select th:field="*{prestamo}" id="prestamo" required min="1000000">
                <option value="">Seleccionar</option>
                <option th:each="Pr:${prestamo}" th:text="${Pr.valorPrestamo}" th:value="${Pr.idPrestamo}"></option>
            </select>
            <span class="validity"></span>
            </div><br>
            <div>
            <label for="fechaAbono"><strong>Fecha Abono</strong></label><br>
            <input  type="date" name="fechaAbono" id="fechaAbono" th:field="*{fechaAbono}"  min="2021-01-01" max="2022-12-31" required>
            <span class="validity"></span>
            </div><br>

            <div>
            <label for="totalAbono"><strong>Total Abono</strong></label><br>
            <input  type="number" name="totalAbono"  id="totalAbono" th:field="*{totalAbono}" placeholder="Ejemplo: 250.000" min="50000" required>
            <span class="validity"></span>
            </div><br>

            <button type="submit">Registrar Abono</button>

        </form>
    </section>
    
</body>
</html>