<div th:fragment="sidebar" class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="" th:href="@{/inicio}" aria-expanded="false">
                    <i class='bx bxs-dashboard'></i>
                    <span class="nav-text">Inicio</span>
                </a>
            </li>
            <li><a class="has-arrow a0i-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-handshake" id="icono"></i>
                    <span class="nav-text">Compromisos</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Tipo Compromisos</a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/tipocompromiso/listar?add}">Agregar</a></li>
                            <li><a th:href="@{/tipocompromiso}">Mostrar</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/compromiso/listar?add}">Agregar Compromiso</a></li>
                    <li><a th:href="@{/compromiso}">Mostrar Compromisos</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class='bx bx-money'></i>
                    <span class="nav-text">Préstamos</span>
                </a>
                <ul aria-expanded="false">
                    <li><a th:href="@{/prestamo/listar?add}">Agregar Préstamo</a></li>
                    <li><a th:href="@{/prestamo}">Mostrar Préstamos</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Abonos</a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/prestamoabono/listar?add}">Agregar</a></li>
                            <li><a th:href="@{/prestamoabono}">Mostrar</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Pagos</a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/pagoprestamo/listar?add}">Agregar</a></li>
                            <li><a th:href="@{/pagoprestamo}">Mostrar</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMINISTRADOR')"><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class='bx bx-user'></i>
                    <span class="nav-text">Usuarios</span>
                </a>
                <ul aria-expanded="false">
                    <li><a th:href="@{/usuario/listar?add}">Agregar Usuario</a></li>
                    <li><a th:href="@{/usuario}">Mostrar Usuarios</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class='bx bx-cog'></i>
                    <span class="nav-text">Configuración</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/">1</a></li>
                    <li><a href="/">2</a></li>
                    <li><a href="/">3</a></li>
                </ul>
            </li>
        </ul>
        <div class="add-menu-sidebar">
            <img th:src="@{/assets/dashboard/images/calendar.png}" alt="" class="mr-3">
            <p class="	font-w500 mb-0">Crear plan de calendario</p>
        </div>
        <div class="copyright">
            <p><strong>Cuentas en Casa</strong> © 2022 Todos los derechos reservados</p>
        </div>
    </div>
</div>