<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Tipo Compromiso</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/estiloC.css}">
    <link rel="stylesheet" href="../assets/css/estilos2.css">
    <link rel="stylesheet" href="../assets/css/stylev.css">
    <link rel="icon" href="../assets/img/Icon-cuentascasa.png">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
</head>
<body>
    <div th:replace="/views/header :: nav"></div>
    <div class="title">
      <h1>Tipo Compromiso</h1>
      <a href="" data-toggle="modal" data-target="#modal-add"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg></a>
    </div>
    
    <div class="alerta">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${tipocompromisos.size()==0}">
        <strong>Precaución!</strong> No hay tipo compromisos para mostrar
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </div>
    
    <input type="checkbox" id="mostrar">Mostrar tipocompromisos inactivos

    <table border="1" id="datat">
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
        </thead>
        <tr th:each="c:${tipocompromisos}" id="tablerow">
            <td th:text="${c.id}"></td>
            <td th:text="${c.nombre}"></td>
            <td th:text="${c.descripcion}"></td>
            <td th:text="${c.estado}" id="estado"></td>
            <td>
                <a href="" data-toggle="modal" th:attr="data-target='#modal-editar'+${c.id}"><button type="button" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                </svg></button></a>
                
                <!-- MODAL EDITAR -->
                <div class="modal fade" tabindex="-1" th:id="modal-editar+${c.id}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Editar Tipo Compromiso</h5>
                        </div>
                        <form th:action="@{/tipocompromiso/add}" method="post" th:object="${tipocompromiso}">
                          <div class="modal-body">
                                  <input type="hidden" name="id" id="id" th:value="${c.id}">
                                  <div>
                                  <label for="">Nombre</label>
                                  <input type="text" name="nombre" id="nombre" autocomplete="off" th:value="${c.nombre}" required>
                                  <span class="validity"></span>
                                  </div>
                                  <div>
                                  <label for="">Descripción</label>
                                  <input type="text" name="descripcion" id="descripcion" autocomplete="off" th:value="${c.descripcion}" required>
                                  <span class="validity"></span>
                                  </div>
                                  <div>
                                  <label for="">Estado</label>
                                  <select name="estado" id="estado" required>
                                      <option th:value="${c.estado}" th:text="${c.estado}" selected>Seleccionar</option>
                                      <option value="Activo">Activo</option>
                                      <option value="Inactivo">Inactivo</option>
                                  </select>
                                  <span class="validity"></span>
                                  </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              <button type="submit" class="btn bg-cuentas">Editar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                </div>

                <a href="" data-toggle="modal" th:attr="data-target='#modal-delete'+${c.id}"><button type="button" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg></button></a>

                <!-- MODAL ELIMINAR -->
                <div class="modal fade" tabindex="-1" th:id="modal-delete+${c.id}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 th:if="${c.estado.equalsIgnoreCase('activo')}" class="modal-title">Inactivar Tipo Compromiso</h5>
                          <h5 th:if="${c.estado.equalsIgnoreCase('inactivo')}" class="modal-title">Activar Tipo Compromiso</h5>
                        </div>
                        <div class="modal-body">
                            <p th:if="${c.estado.equalsIgnoreCase('activo')}">Esta seguro que desea inactivar este tipo compromiso?</p>
                            <p th:if="${c.estado.equalsIgnoreCase('inactivo')}">Esta seguro que desea activar este tipo compromiso?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a th:if="${c.estado.equalsIgnoreCase('activo')}" th:href="@{/tipocompromiso/estado/}+${c.id}"><button type="submit" class="btn bg-cuentas">Inactivar</button></a>
                            <a th:if="${c.estado.equalsIgnoreCase('inactivo')}" th:href="@{/tipocompromiso/estado/}+${c.id}"><button type="submit" class="btn bg-cuentas">Activar</button></a>
                        </div>
                      </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    
    <!-- MODAL REGISTRAR -->
    <div class="modal fade" tabindex="-1" id="modal-add">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Registrar Tipo Compromiso</h5>
            </div>
            <div class="modal-body">
              <form th:action="@{/tipocompromiso/add}" method="post" th:object="${tipocompromiso}" id="formulario" class="formulario">
                <script th:inline="javascript" th:if="${#fields.hasErrors('*')}">$("#modal-add").modal("show");</script>
                <script th:inline="javascript" th:if="${errorMessage}">$("#modal-add").modal("show");</script>
                

    <!-- Grupo: Nombre -->
    <div class="formulario__grupo" id="grupo__nombre">
      <label for="nombre" class="formulario__label">Nombre</label>
      <div class="formulario__grupo-input">
        <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="renta">
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error"> tiene que ser 2  a 20 dígitos y puede contener  letras y espacios</p>
    </div>
    <div class="error">
      <div class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
    </div>
<!-- Grupo: descripcion -->
<div class="formulario__grupo" id="grupo__descripcion">
<label for="descripcion" class="formulario__label">descripcion</label>
<div class="formulario__grupo-input">
  <input type="text" class="formulario__input" name="descripcion" id="descripcion" placeholder="pagar la renta">
  <i class="formulario__validacion-estado fas fa-times-circle"></i>
</div>
<p class="formulario__input-error"> tiene que ser de 4 a 100 dígitos,no acepta numeros y puede contener espacios</p>
</div>
<div class="error">
  <div class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
</div>
    <div class="formulario__grupo" id="grupo__estado">
          <label for="estado" class="formulario__label">Estado</label>
          <div class="formulario__grupo-input">
                  <select  class="formulario__input" th:field="*{estado}" id="estado">
                      <option value="" selected>Seleccionar</option>
                      <option value="Activo">Activo</option>
                      <option value="Inactivo">Inactivo</option>
                  </select>
                </div>
                  <p class="formulario__input-error"> tiene que ser de 4 a 100 dígitos,no acepta numeros y puede contener espacios</p>
                </div>
                <div class="error">
                  <div class="form-text text-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
                  <div class="form-text text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                </div>
                  <br>
                 
      
                  <div class="formulario__grupo formulario__grupo-btn-enviar">
                      <button type="submit" class="formulario__btn" >Enviar</button>
                      <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                  </div>
      </form>      
          </div>
            <div class="modal-footer">
                
            </div>
          </div>
        </div>
    </div>

    <script>
      var datat=document.querySelector("#datat"); 
      var dataTable=new DataTable("#datat",{ 
        perPage:10,
        labels: {
            placeholder: "Buscar...",
            perPage: "{select} registros por página",
            noRows: "No se encontraron registros",
            info: "Mostrando {start} a {end} de {rows} tipo compromisos (Página {page} de {pages} páginas)",
        }
      } ) ;
    </script>

    <script>
      var checkbox = document.getElementById('mostrar');
      var row = document.querySelectorAll('#tablerow');
      var estado = document.querySelectorAll('#estado');

      checkbox.addEventListener("click",mostrar)
      
      if (checkbox.checked==false) {
        for (let index = 0; index < estado.length; index++) {
          if (estado[index].textContent=="Inactivo") {
            for (let index = 0; index < row.length; index++) {
              if (estado[index].textContent=="Inactivo") {
                row[index].setAttribute('style','display:none');
              }
            }
          }
          console.log(estado[index].textContent)
        }
      }
      
      function mostrar(){
        if (checkbox.checked==true) {
          for (let index = 0; index < estado.length; index++) {
            if (estado[index].textContent=="Inactivo") {
              for (let index = 0; index < row.length; index++) {
                if (estado[index].textContent=="Inactivo") {
                  row[index].setAttribute('style','display:');
                }
              }
            }
          }
        }else if (checkbox.checked==false){
          for (let index = 0; index < estado.length; index++) {
            if (estado[index].textContent=="Inactivo") {
              for (let index = 0; index < row.length; index++) {
                if (estado[index].textContent=="Inactivo") {
                  row[index].setAttribute('style','display:none');
                }
              }
            }
          }
        }
      }
    </script>
        <script>
          const formulario = document.getElementById('formulario');
       const inputs = document.querySelectorAll('#formulario input');
       
       const expresiones = {
         nombre: /^[a-zA-Z\À-ÿ\s]{2,20}$/, // Letras, numeros, guion y guion_bajo
         descripcion: /^[a-zA-Z0-9\À-ÿ\s]{1,200}$/, // Letras y espacios, pueden llevar acentos.
       estado: /^[a-zA-Z0-9\_\-]{4,16}$/,
       }
       
       const campos = {
         descripcion: false,
         nombre: false,
         estado:false
       }
       
       const validarFormulario = (e) => {
         switch (e.target.name) {
           case "descripcion":
             validarCampo(expresiones.descripcion, e.target, 'descripcion');
           break;
           case "nombre":
             validarCampo(expresiones.nombre, e.target, 'nombre');
           break;
           case "estado":
             validarCampo(expresiones.estado, e.target, 'estado');
           break;
         }
       }
       
       const validarCampo = (expresion, input, campo) => {
         if(expresion.test(input.value)){
           document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-incorrecto');
           document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-correcto');
           document.querySelector(`#grupo__${campo} i`).classList.add('fa-check-circle');
           document.querySelector(`#grupo__${campo} i`).classList.remove('fa-times-circle');
           document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.remove('formulario__input-error-activo');
           campos[campo] = true;
         } else {
           document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-incorrecto');
           document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-correcto');
           document.querySelector(`#grupo__${campo} i`).classList.add('fa-times-circle');
           document.querySelector(`#grupo__${campo} i`).classList.remove('fa-check-circle');
           document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.add('formulario__input-error-activo');
           campos[campo] = false;
         }
       }
       
       inputs.forEach((input) => {
         input.addEventListener('keyup', validarFormulario);
         input.addEventListener('blur', validarFormulario);
       });
       
      
       
           </script>
</body>
</html>