<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Cuentas en Casa - Startup Landing Page Template.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/index/images/logo/Icon-cuentascasa.png" />

    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="assets/index/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/index/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="assets/index/css/animate.css" />
    <link rel="stylesheet" href="assets/index/css/tiny-slider.css" />
    <link rel="stylesheet" href="assets/index/css/glightbox.min.css" />
    <link rel="stylesheet" href="assets/index/css/main1.css" />
    <link rel="stylesheet" href="assets/index/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/index/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="assets/index/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="assets/index/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="assets/index/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="assets/index/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="assets/index/css/style.css" type="text/css">

</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <!-- Start Navbar -->
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="">
                                <img src="assets/index/images/logo/logo-cuentas-blanco.png" alt="Logo" id="logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a href="index.html" class="active" aria-label="Toggle navigation">inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#acercade" aria-label="Toggle navigation">cuentas en casa</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#acercade" aria-label="Toggle navigation">módulos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#acercade" aria-label="Toggle navigation">Funcionalidades</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#acercade" aria-label="Toggle navigation">Ventajas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#contacto" aria-label="Toggle navigation">Contacto</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="button">
                                <a href="login" class="btn">Iniciar Sesión</a>
                            </div>
                        </nav>
                        <!-- End Navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->

    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="hero-area-backdrop"></div>
        <div class="container container-m-t">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="hero-content">
                       <h1 class="wow fadeInUp fondo" data-wow-delay=".4s">Cuentas en casa</h1>
                        <b><p class="wow fadeInUp fondo" data-wow-delay=".6s">Una buena gestión de tus cuentas te permitirá tomar nuevas decisiones que hagan crecer al hogar
                        </p3></b>
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <a href="#acercade" class="btn ">Descubrir más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="hero-image">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Services Area -->
    <div class="services section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <br>
                        <b><h2 class="text-title" data-wow-delay=".7s">Cuentas En Casa</h2></b>
                        <p class="wow fadeInUp" data-wow-delay=".12s">Es un sistema orientado a la organización de las cuentas en los hogares de la localidad de Engativá, 
                            tiene como fin brindar beneficios para las personas encargadas de la contabilidad en los hogares. Plantea el buen manejo permitiendo mejorar los procesos de pagos, 
                             préstamos y un buen uso de los ingresos. </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="section-title">
                <center><h2 class="wow fadeInUp" data-wow-delay=".7s">Módulos</h2></center>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-service">
                        <div class="main-icon">
                            <i class="lni lni-grid-alt"></i>
                        </div>
                        <h4 class="text-title">Usuarios</h4>
                        <p>Ingresará
                            al sistema con una cuenta  propia en la
                            que podrá hacer uso de este y registrará  facturas entre otros </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-service">
                        <div class="main-icon">
                            <i class="lni lni-keyword-research"></i>
                        </div>
                        <h4 class="text-title">Compromisos</h4>
                        <p>registrar los pagos, las facturas y subir recibos etc.  Se almacenan para la organización y administración..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-service">
                        <div class="main-icon">
                            <i class="lni lni-vector"></i>
                        </div>
                        <h4 class="text-title">Préstamos</h4>
                        <p>registrar préstamos obtenidos y se avisará a la hora que se tiene que pagar, abonando mientras se cubre la deuda completamente.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Area -->
    
    <!-- Start About Area -->
    <section class="about section" id="acercade">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="image wow fadeInLeft" data-wow-delay=".2s">
                        <img src="assets/index/images/about/about-image-2.jpg" alt="#">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="content wow fadeInRight" data-wow-delay=".4s">
                        <h2>Funcionalidades</h2>
                        <div class="list">
                            <div class="single-list">
                                <div class="list-icon">
                                    <i class="lni lni-checkmark"></i>
                                </div>
                                <h4>Ofrecer información ordenada del estado económico y financiero del hogar </h4>
                            </div>
                            <div class="single-list">
                                <div class="list-icon">
                                    <i class="lni lni-checkmark"></i>
                                </div>
                                <h4>Se encarga del manejo y control de las operaciones diarias del hogar, de una manera cronológica para asi llevar el historial de gastos y pagos.</h4>
                            </div>
                            <div class="single-list">
                                <div class="list-icon">
                                    <i class="lni lni-checkmark"></i>
                                </div>
                                <h4>El administrador del hogar será el encargado de registrar sus gastos y pago</h4>
                            </div>
                            <div class="single-list">
                                <div class="list-icon">
                                    <i class="lni lni-checkmark"></i>
                                </div>
                                <h4>generará un reporte de manera periodica de las operaciones registradas</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about section" id="acercade">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="image wow fadeInLeft" data-wow-delay=".2s">
                        <img src="assets/index/images/about/about-image-4.jpg" alt="#">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="content wow fadeInRight" data-wow-delay=".4s">
                        <h2>Ventajas</h2>
                        <p>Cuentas en casa esta enfocado en la organizacion, lo cual te ayuda a desestresarte de llevar cuentas fisicas y deshorganizadas. Te ofrece un software digital de registro de facturas,recibos y papeles importantes</p>
                        <div class="list">
                            <div class="single-list">
                                <div class="list-icon">
                                    <i class="lni lni-checkmark"></i>
                                </div>
                                <h4>Conoce Tus Finanzas</h4>
                                <p>Al registrar tus facturas, recibos y gastos. Tendras conocimiento sobre los movimientos que haces, con esta informacion podras manejar mejor tus ingresos.</p>
                            </div>
                            <div class="single-list">
                                <div class="list-icon">
                                    <i class="lni lni-checkmark"></i>
                                </div>
                                <h4>Ahorro</h4>
                                <p>Llevaras un uso adecuado de los presupuestos, lo que implica mas dinero para que inviertas en ti.</p>
                            </div>
                            <div class="single-list">
                                <div class="list-icon">
                                    <i class="lni lni-checkmark"></i>
                                </div>
                                <h4>Mantener la Puntualidad De Los Pagos</h4>
                                <p>Este sistema te hace un recordatorio de las fechas en las que tienes que pagar tus deudas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <section class="contact spad">
        <h2 class="tituloc">Contacto</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__content">
                        <div class="contact__address">
                            <h5>Información de contacto.</h5>
                            <ul>
                                <li>
                                    <h6><i class="fa fa-map-marker"></i>Dirección.</h6>
                                    <p>Bogotá, localidad de Engativá</p>
                                </li>
                                <li>
                                    <h6><i class="fa-solid fa-phone"></i>Teléfono</h6>
                                    <p><span>125-711-811</span><span>125-668-886</span></p>
                                </li>
                                <li>
                                    <h6><i class="fa-solid fa-envelope"></i> Correo</h6>
                                    <p>cuentasencasa@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                        <div class="contact__form">
                            <h5>Formulario de contacto</h5>
                            <form action="#">
                                <input type="text" placeholder="Nombre">
                                <input type="text" placeholder="Email">
                                <!-- <input type="text" placeholder="Sitio Web"> -->
                                <textarea placeholder="Mensaje"></textarea>
                                <button type="submit" class="site-btn">Enviar mensaje</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__map">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd"
                        height="550" style="border:0" allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Instagram Begin -->
<i class="fa-solid fa-tty-answer"></i>
<br>
    <!-- Start Call Action Area -->
    <!-- End Call Action Area -->

    <!-- Start Footer Area -->
    <footer class="footer section" id="contacto">
        <!--/ End Footer Top -->
        <!-- Start Copyright Area -->
        <div class="footer-content">
            <a href="index.html"><img src="assets/index/images/logo/logo-cuentas-blanco.png" alt="#"></a>
            <p class="copyright-text">© 2022 Cuentas en Casa - Todos los derechos reservados</p>
        </div>
        <!-- End Copyright Area -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/index/js/bootstrap.min.js"></script>
    <script src="assets/index/js/wow.min.js"></script>
    <script src="assets/index/js/tiny-slider.js"></script>
    <script src="assets/index/js/glightbox.min.js"></script>
    <script src="assets/index/js/count-up.min.js"></script>
    <script src="assets/index/js/imagesloaded.min.js"></script>
    <script src="assets/index/js/isotope.min.js"></script>
    <script src="assets/index/js/main.js"></script>
    <script>

        //========= testimonial 
        tns({
            container: '.testimonial-slider',
            items: 3,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: true,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 1,
                },
                768: {
                    items: 2,
                },
                992: {
                    items: 2,
                },
                1170: {
                    items: 3,
                }
            }
        });

        //====== counter up 
        var cu = new counterUp({
            start: 0,
            duration: 2000,
            intvalues: true,
            interval: 100,
            append: " ",
        });
        cu.start();

        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //============== isotope masonry js with imagesloaded
        imagesLoaded('#container', function () {
            var elem = document.querySelector('.grid');
            var iso = new Isotope(elem, {
                // options
                itemSelector: '.grid-item',
                masonry: {
                    // use outer width of grid-sizer for columnWidth
                    columnWidth: '.grid-item'
                }
            });

            let filterButtons = document.querySelectorAll('.portfolio-btn-wrapper button');
            filterButtons.forEach(e =>
                e.addEventListener('click', () => {

                    let filterValue = event.target.getAttribute('data-filter');
                    iso.arrange({
                        filter: filterValue
                    });
                })
            );
        });

    </script>
</body>

</html>