<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Registrar Usuario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/estiloC.css}">
    <link rel="stylesheet" href="../assets/css/estilos2.css">
    <link rel="stylesheet" href="../assets/css/stylev.css">
    <link rel="icon" href="../assets/img/Icon-cuentascasa.png">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
    <script th:src="@{/assets/js/main.js}"></script>
</head>
<body>
    <a href="" class="nBtn"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg></a>
    <div class="modal fade" id="modal-add">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registrar Usuario</h4>
                    <button type="button" class="close cancel" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <form th:action="@{/usuario/add}" method="post" th:object="${usuario}" id="formulario">
                    <div class="modal-body">
                        <div class="form-group" id="grupo__nombresUsuario">
                            <label for="">Nombres</label>
                            <div class="formulario__grupo-input">
                                <input th:field="*{nombresUsuario}" type="text" class="form-control input-default" placeholder="" autocomplete="off">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error"> Tiene que ser mínimo 1 caracter y máximo 20 de longitud. Solo puede haber un espacio y el nombre(s) no puede contener caracteres especiales.</p>
                            <div class="form-text text-danger" th:if="${#fields.hasErrors('nombresUsuario')} and ${modalAdd}" th:errors="*{nombresUsuario}"></div>
                        </div>
                        <div class="form-group" id="grupo__apellidosUsuario">
                            <label for="">Apellidos</label>
                            <div class="formulario__grupo-input">
                                <input th:field="*{apellidosUsuario}" type="text" class="form-control input-default" placeholder="" autocomplete="off">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error"> Tiene que ser mínimo 1 caracter y máximo 20 de longitud. Solo puede haber un espacio y el apellido(s) no puede contener caracteres especiales.</p>
                            <div class="form-text text-danger" th:if="${#fields.hasErrors('apellidosUsuario')} and ${modalAdd}" th:errors="*{apellidosUsuario}"></div>
                        </div>                        
                        <div class="form-group" id="grupo__correoUsuario">
                            <label for="">Correo</label>
                            <div class="formulario__grupo-input">
                                <input th:field="*{correoUsuario}" type="text" class="form-control input-default" placeholder="" autocomplete="off">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error"> Correo no válido, la estructura que debe tener es la siguiente: example@domain.com</p>
                            <div class="form-text text-danger" th:if="${#fields.hasErrors('correoUsuario')} and ${modalAdd}" th:errors="*{correoUsuario}"></div>
                        </div>                        
                        <div class="form-group" id="grupo__tipoUsuario">
                            <label for="">Tipo</label>
                            <div class="formulario__grupo-input">
                                <select th:field="*{tipoUsuario}" class="form-control input-default">
                                    <option value="" id="tipo" selected>Seleccionar</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Admin del hogar">Admin del hogar</option>
                                    <option value="Contador">Contador</option>
                                </select>
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error"> Elige una opción</p>
                            <div class="form-text text-danger" th:if="${#fields.hasErrors('tipoUsuario')} and ${modalAdd}" th:errors="*{tipoUsuario}"></div>
                        </div>                        
                        <div class="form-group">
                            <!-- <label for="">Estado</label> -->
                            <select th:field="*{estadoUsuario}" hidden>
                                <option value="Activo" selected>Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                        </div>    
                        <div class="form-text text-danger" th:if="${errorMessage} and ${modalAdd}" th:text="${errorMessage}"></div>                                
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal" id="cancel">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="Registrar">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>