<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Pago</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/estiloC.css}">
</head>
<body>

    <h1>Registrar Pago</h1>

    <section> 
        <form th:action="@{/pagoprestamo/add}" th:object="${pagoprestamo}" method="post">

            <input type="hidden" name="idPagoPrestamo" id="idPagoPrestamo" th:value="${pagoprestamo.idPagoPrestamo}"><br><br>

            <div>
            <label for="idPrestamo"><strong>Valor del prestamo</strong></label>
            <select th:field="*{prestamo}" id="prestamo" required min="1000000">
                <option value="">Seleccionar</option>
                <option th:each="Pp:${prestamo}" th:text="${Pp.valorPrestamo}" th:value="${Pp.idPrestamo}"></option>
            </select>
            <span class="validity"></span>
            </div><br>
            <div>
            <label for="fechaPago"><strong>Fecha Pago</strong></label><br>
            <input  type="date" name="fechaPago" id="fechaPago" th:field="*{fechaPago}"  min="2021-01-01" max="2022-12-31" required>
            <span class="validity"></span>
            </div><br>

            <div>
            <label for="totalPago"><strong>Total Pago</strong></label><br>
            <input  type="number" name="totalPago"  id="totalPago" th:field="*{totalPago}" placeholder="Ejemplo: 250.000" min="50000" required>
            <span class="validity"></span>
            </div><br>

            <div>
                <label for="imagenPago"><strong>Imagen Pago</strong></label><br>
                <input  type="file" name="imagenPago"  id="imagenPago" th:field="*{imagenPago}" required>
                <span class="validity"></span>
                </div><br>


            <button type="submit">Registrar Pago</button>

        </form>
    </section>
    
</body>
</html>